<%= render 'shared/navbar_normal' %>

<h1 class="text-center"> All Shares </h1>
<%= form_tag shares_path, method: :get do %>
  <div class="container" style="line-height: 30%;">
    <div class="row">
      <div class="col">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a share"
        %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col">
        <%= select_tag :country_id,
          options_from_collection_for_select(@countries, "id", "name"),
          include_blank: true,
          class: "form-control",
          placeholder: "Find a share"
        %>
      </div>
      <div class="col">
        <%= select_tag :sector_id,
          options_from_collection_for_select(@sectors, "id", "name"),
          include_blank: true,
          class: "form-control",
          placeholder: "Find a share"
        %>
      </div>
      <div class="col">
        <%= select_tag :industry_id,
          options_from_collection_for_select(@industry, "id", "name"),
          include_blank: true,
          class: "form-control",
          placeholder: "Find a share"
        %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col text-center">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
  
<p style="line-heigh: 30%;"></p>

<table class="table table-hover text-center", id= "table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Country</th>
      <th scope="col">Sector</th>
      <th scope="col">Industry</th>
      <th scope="col">Price</th>
      <th scope="col">Variation</th>
      <th scope="col">PER</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% i = 0 %>
    <% @shares_index.each do |share| %>
        <%i += 1%>
        <tr>
            <th scope="row"><%=i%></th>
            <td><a href="/shares/<%=share.id%>"><%= share.name %></a></td>
            <td><%= share.country.name %> </td>
            <td><%= share.sector.name %> </td>
            <td><%= share.industry.name %> </td>
            <td><%= share.share_informations.last.share_price %> </td>
            <td><%= share.share_informations.last.variation %> </td>
            <td><%= share.share_informations.last.pe%> </td>
            <td>  
                 <%= link_to "Add the share", new_share_share_to_portfolio_path(share.id)%>
            </td> 
        </tr>
    <%end%>
    
  </tbody>
  
</table>
<% j = 1%>
<%while j <= @pages %>
  <a href="./shares?query=<%=params[:query]%>&sector_id=<%=params[:sector_id]%>&country_id=<%=params[:country_id]%>&page=<%=j%>&commit=Search"><%=j%></a>
  <% j += 1%>
<%end%>
  <br/>

