<h1> <%=@share.name%> <%= @share.mnemonic%></h1>

<ul>
    <li><%=@share.sector %></li>
    <li><%=@share.country_id %></li>
    <li><%=@share.market %></li>
    <li><%=@share.industry %></li>
    <li><%=@share.description %></li>
</ul>
