<%= render 'shared/navbar_normal' %>

<h1 class="text-center"> <%= @portfolio.name%> </h1>
<br/>

<table class="table table-hover text-center">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Variation</th>
      <th scope="col">Price Objective</th>
      <th scope="col">Comment</th>
      <th scope="col">PER</th>
      <th scope="col">Evolution 01/2021</th>
      <th class="text-center" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% i = 0 %>
    <% @shares.each do |share| %>
        <%i += 1%>
        <tr>
            <th scope="row"><%=i%></th>
            <td onclick="location.href='<%=share_url(share[4])%>'"><%= share[0] %></td>
            <td><%= share[1].share_price %> </td>
            <td><%= share[1].variation %> %</td>
            <td><%=  share[3] %></td>
            <td><%=  share[5] %></td>
            <td><%= share[1].pe %> </td>
            <% share_price_first_january = ShareInformation.where(date: "2021-01-04", share_id: share[1].share_id ) %>
            <% division = share_price_first_january.empty? ? "None" : ( Share.find(share_id: share[1].share_id).share_informations.last.share_price - share_price_first_january[0].share_price ) / share_price_first_january[0].share_price * 100 %>
            <td><%=division != "None" && division < 10000 ? '%.2f' % division : ( division == "None" ? division : "None" ) %> </td>
            <td>  
              <%= link_to "Update", edit_portfolio_share_to_portfolio_path(@portfolio, share[2]),  class:"btn btn-light"%>
              <%= link_to "Delete a Share", portfolio_share_to_portfolio_path(@portfolio, share[2]) , method: :DELETE, class: "btn btn-danger"%>
            </td> 
        </tr>
    <%end%>
  </tbody>
</table>

<p> <%= link_to "Update name portfolio", edit_portfolio_path(@portfolio), class: "nav-link"%> </p>

<!-- <p> <%= link_to "Add a share", new_portfolio_share_to_portfolio_path(@portfolio)%> </p> -->

<%= button_to "Delete the Portfolio", { action: "destroy", id: @portfolio.id }, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"  %>
