<h1>Add a Share to the Portfolio <%=@portfolio.name%></h1>

<h2> Add a new subscription </h2>

<%= simple_form_for [@portfolio, @share_to_portfolio] do |f|%>
  
  
  <%= f.input :share_id, label: "Share Name", collection: @share_names %>
  <%= f.input :price_objective, label: "Add a price objective" %>
  <%= f.button :submit %>
<% end %>

