<%= render 'shared/navbar_normal' %>

<%if params[:portfolio_id].present?%>
  <h1>Add a Share to the Portfolio <%=@portfolio.name%></h1>
    <div class="flex-center mt-4" data-controller="counter">
      <%= simple_form_for [@portfolio, @share_to_portfolio] do |f| %>
        <%= label :country, "Country"%>
            <%= select_tag :country,
                            options_from_collection_for_select(@countries_all, "id", "name"),
                            include_blank: true,
                            data: { action: "counter#country" },
                            class: "form-control select2" %>
        <%= label :sector, "Sector"%>
          <%= select_tag :sector,
                        options_from_collection_for_select(@sectors_all, "id", "name"),
                        include_blank: true,
                        data: { action: "counter#country" },
                        class: "form-control select2" %>
          <div class="form-group">
            <%= label :share_to_portfolio, "Share Name"%>
              <div data-target="counter.wrapper" >
              </div>
          </div>
          <%= f.input :price_objective, label: "Add a price objective" %>
          <%= f.input :comment, label: "Add a comment" %>
        <%= f.button :submit %>
      <% end %>
    </div>
<%else%>
  <h1>Add a Share to a Portfolio <%=@share.name%></h1>
    <div class="flex-center mt-4" data-controller="counter">
      <%= simple_form_for [@share, @share_to_portfolio] do |f| %>
        <%= label :portfolio_id, "Portfolio"%>
            <%= select_tag :portfolio_id,
                            options_from_collection_for_select(@porfolios, "id", "name"),
                            include_blank: true,
                            class: "form-control select2" %>
        
          <%= f.input :price_objective, label: "Add a price objective" %>
          <%= f.input :comment, label: "Add a comment" %>
        <%= f.button :submit %>
      <% end %>
    </div>

<%end%>

